.imagen-fondo-hero {
    // 1. Posicionamiento (Para que quede al fondo de todo)
    position: absolute;
    inset: 0; // Ocupa todo el alto y ancho (top, bottom, left, right 0)
    z-index: 0; // Lo manda detrás del texto
    
    // 2. Aquí llamas a tu imagen (con la ruta segura de XAMPP)
    background-image: url('../img/odonto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    // 3. El truco del degradado: Le bajamos la opacidad para que se mezcle 
    // con el fondo oscuro del section que definimos en el HTML
    opacity: 0.3; 
    
    // Si algún día quieres agregarle un filtro borroso, solo descomenta esta línea:
    // filter: blur(2px);
}